<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Node ecosensornet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Calibration</h1>
<p>
    <a href="/">back home</a>
</p>
<h2>Values</h2>

<form method="post" action="calibration.html">
    <p>
        <input type="submit" value="Submit">
        <input type="reset">
    </p>
    <h3>tc1</h3>
    <p>
        c0:
        <input type="number" id="tc1_coeff0" name="tc1_coeff0" step="any" value="{{tc1_coeff0}}">
        c1:
        <input type="number" id="tc1_coeff1" name="tc1_coeff1" step="any" value="{{tc1_coeff1}}">
    </p>
    <h3>tc2</h3>
    <p>
        c0:
        <input type="number" id="tc2_coeff0" name="tc2_coeff0" step="any" value="{{tc2_coeff0}}">
        c1:
        <input type="number" id="tc2_coeff1" name="tc2_coeff1" step="any" value="{{tc2_coeff1}}">
    </p>
    <h3>t</h3>
    <p>
        c0:
        <input type="number" id="t_coeff0" name="t_coeff0" step="any" value="{{t_coeff0}}">
        c1:
        <input type="number" id="t_coeff1" name="t_coeff1" step="any" value="{{t_coeff1}}">
    </p>
    <h3>rh</h3>
    <p>
        c0:
        <input type="number" id="rh_coeff0" name="rh_coeff0" step="any" value="{{rh_coeff0}}">
        c1:
        <input type="number" id="rh_coeff1" name="rh_coeff1" step="any" value="{{rh_coeff1}}">
    </p>
</form>

</body>
</html>
